body {
  background-color: #282c34;
  color: white;
  font-family: 'Roboto', sans-serif;
}

.App {
  background-color: white;
  color: black;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 1000px;
  min-height: 100%;
}

